/--- 1.template ----/
<template>
  <p><img src="./assets/logo.png"></p>
  <h1>Hello {{ name }} {{ age }}</h1>
  <p v-html="msg"></p>
  <p v-pre>{{ ceo }}</p>
  <p>{{ ceo }}</p>
</template>

// 2.Logic(JavaScript) bloc //
<script>
    alert()
export default {
  data() {
    return {
      name:'Mark',
      age:45 ,
      msg:'How are you?',
      ceo:'facebook',
     };
  },
};
</script>

// 3.Style(css) bloc //
<style>
  h1{
    color:blueviolet
  }
</style>